body{
 
background-image: url("https://ik.imagekit.io/ku5ee1tb4/default-image.jpg?updatedAt=1768579941906.gif");
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}
h2{
 background-color: blueviolet;
} 